<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <nestedField>
                    <fieldName>log</fieldName>
                    <providers>
                        <logLevel/>
                        <logLevelValue/>
                        <loggerName>
                            <shortenedLoggerNameLength>20</shortenedLoggerNameLength>
                        </loggerName>
                        <threadName/>
                        <callerData>
                            <fieldName>caller</fieldName>
                            <classFieldName>class</classFieldName>
                            <methodFieldName>method</methodFieldName>
                            <fileFieldName>file</fileFieldName>
                            <lineFieldName>line</lineFieldName>
                        </callerData>
                    </providers>
                </nestedField>
                <nestedField>
                    <fieldName>error</fieldName>
                    <providers>
                        <stackTrace>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                                <maxLength>1000</maxLength>
                                <shortenedClassNameLength>30</shortenedClassNameLength>
                                <rootCauseFirst>true</rootCauseFirst>
                                <inlineHash>false</inlineHash>
                            </throwableConverter>
                        </stackTrace>
                        <stackHash/>
                        <throwableClassName/>
                        <throwableRootCauseClassName>
                            <useSimpleClassName>false</useSimpleClassName>
                        </throwableRootCauseClassName>
                    </providers>
                </nestedField>
                <context/>
                <jsonMessage/>
                <mdc>
                    <includeMdcKeyName>included</includeMdcKeyName>
                </mdc>
                <contextMap/>
                <tags/>
                <logstashMarkers/>
            </providers>
        </encoder>
    </appender>
    <logger name="jsonLogger" additivity="false" level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </logger>
    <root level="${root-level:-INFO}">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
